<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../static/form.css" />
		<title>Login form</title>
	</head>
	<body>
		<main>
			<header>
				<h1 class="log__in">Chow</h1>
			</header>
			<section>
				<h5>New to Chow? <a href="/signup">Signup here</a></h5>
			</section>
			<section>
				<form method="POST">
					{{form.hidden_tag()}} {% for field in form if field.widget.input_type
					!= 'hidden' %}

					<p>{{field.label}} {{field(class_="form-control")}}</p>
					{% for error in field.errors %}
					<p class="form-text text-danger">{{error}}</p>
					{% endfor %} {% endfor %}

					<input type="submit" value="Log In" />
				</form>
			</section>
			<footer>&copy; Promise Morka</footer>
		</main>
	</body>
</html>
